#content {
  display: flex;
  flex-direction: row-reverse;
  height: calc(100vh - var(--archi-menu-size));
  padding-top: var(--archi-menu-size);
  background-image: var(--background-image-url);
  background-size: cover;
  /* Enlarge the image horizontally */
  background-position: right top;
  /* Start from the right border */
  background-repeat: no-repeat;
  /* Prevent repetition */
  background-clip: border-box;
  position: relative;
  z-index: -10;
}
#content::before {
  content: "";
  background-image: var(--dark-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -9;
  transition: opacity 0.3s ease-in-out;
}
#content::after {
  content: "";
  background-color: rgb(var(--white-color));
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -8;
  transition: opacity 0.3s ease-in-out;
}
#content.dark_background::before {
  opacity: 1;
}
#content.white_background::after {
  opacity: 1;
}
#content .menu_item_content {
  box-sizing: border-box;
  width: var(--content-size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 110px auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
@keyframes hide_content {
  99% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
    display: none;
  }
}
@keyframes show_content {
  0% {
    transform: translateX(100%);
    display: none;
  }
  1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
#content .menu_item_content .content_item {
  animation: show_content var(--normal-animation-time) ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  min-height: 100px;
  border: 1px solid rgb(var(--gray-color));
}
#content .menu_item_content .content_item.hidden {
  animation: hide_content var(--normal-animation-time) ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
#content .menu_item_content .content_item.hero {
  border: none;
}
#content .menu_item_content .content_item.projects {
  background-color: red;
}
#content .menu_item_content .content_item.texts {
  background-color: green;
}
#content .menu_item_content .content_item.events {
  background-color: yellow;
}
