.menu_item_content {
  background-color: yellow;
  box-sizing: border-box;
  width: 1480px;
  display: flex;
  margin: 100px auto 110px auto;
}
@media (max-width: 1919px) and (min-width: 1540px) {
  .menu_item_content {
    width: 1180px;
  }
}
@media (max-width: 1539px) and (min-width: 1240px) {
  .menu_item_content {
    width: 900px;
  }
}
@media (max-width: 1239px) and (min-width: 960px) {
  .menu_item_content {
    width: 900px;
  }
}
@media (max-width: 959px) {
  .menu_item_content {
    width: 100%;
  }
}
#content {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  background-image: var(--background-image-url);
  background-size: cover;
  /* Enlarge the image horizontally */
  background-position: right top;
  /* Start from the right border */
  background-repeat: no-repeat;
  /* Prevent repetition */
  background-clip: border-box;
  position: relative;
  z-index: -10;
}
#content::before {
  content: "";
  background-image: var(--dark-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -9;
  transition: opacity 0.3s ease-in-out;
}
#content::after {
  content: "";
  background-color: rgb(var(--white-color));
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -8;
  transition: opacity 0.3s ease-in-out;
}
#content.dark_background::before {
  opacity: 1;
}
#content.white_background::after {
  opacity: 1;
}
