
#content{
    display: flex;
    justify-content: center;

    height: calc(100vh - var(--archi-menu-size));
    padding-top: var(--archi-menu-size);

    .background-image{
        background-image: var(--background-image-url);
        background-size: cover; /* Enlarge the image horizontally */
        background-position: center; /* Start from the right border */
        background-repeat: no-repeat; /* Prevent repetition */
        background-clip: border-box;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -50;
    }
    position: relative;
    z-index: -10;

    &::before{
        content: "";
        background-image: var(--dark-gradient);
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: -9;
        transition: opacity 0.3s ease-in-out;
    }
    
    &::after{
        content: "";
        background-color: rgb(var(--white-color));
        width: 100%;
        height: 100%;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -8;
        transition: opacity 0.3s ease-in-out;
    }

    &.dark_background{
        &::before{
            opacity: 1;
        }
    }

    //turn off background image
    &.white_background{
        &::after{
            opacity: 1;
        }
    }


    .menu_item_content{
        // background-color: yellow;
        box-sizing: border-box;
        width: var(--content-size); //adaptivity is done in main.less (variable changes, dependong on window size)
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        // overflow-y: auto;
        position: relative;



        @keyframes hide_content {
            0%{

            }
            99%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(100%);
                display: none;
            }
        }
        @keyframes show_content {
            0%{
                transform: translateX(100%);
            }
            1%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(0%);
            }
        }
        .content_item{
            animation: show_content var(--normal-animation-time) ease-in-out;
            animation-fill-mode: forwards;
            animation-direction: normal;
            &.hidden{
                animation: hide_content var(--normal-animation-time) ease-in-out;
                animation-fill-mode: forwards;
                animation-direction: normal;
            }
    
            position: absolute;
            top: var(--menu-top-margin);
            box-sizing: border-box;
            width: 100%;
            height: fit-content;
            min-height: 100px;
            // border: 1px solid rgb(var(--gray-color));

            //for now its just empty space
            &.hero{
                border: none;
            }

            // temporary placement for content styles
            &.projects{
                background-color: red;
            }


            .more{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: calc(var(--standart-gap) * 3);
                // margin-bottom: calc(var(--standart-gap) * 2);
                gap: var(--standart-gap);

                .open_more_btn{
                    font-family: Vida32_pro, Arial, Helvetica, sans-serif;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    cursor: pointer;

                    color: rgb(var(--black-color));
                    &:hover{
                        color: rgb(var(--blue-color));
                    }
                }

                .info{
                    font-family: Vida32_pro, Arial, Helvetica, sans-serif;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    cursor: context-menu;

                    color: rgb(var(--gray-medium-color));
                }
            }
        }
    }
}