:root {
  --archiru-blue: #0080CC;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --dark-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(123, 123, 123, 0.9) 100%);
  --background-image-url: url("../src/skyscrapers_back_bad_quality.jpg");
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: vida32_probold, Georgia, 'Times New Roman', Times, serif;
  position: relative;
  z-index: -100;
}
#logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}
.menu_item_content {
  background-color: yellow;
  justify-self: center;
  width: 1480px;
}
@media (max-width: 1920px) and (min-width: 1541px) {
  .menu_item_content {
    width: 1180px;
  }
}
@media (max-width: 1540px) and (min-width: 1241px) {
  .menu_item_content {
    width: 900px;
  }
}
@media (max-width: 1240px) and (min-width: 961px) {
  .menu_item_content {
    width: 900px;
  }
}
