:root {
  --blue-color: 0, 102, 255;
  --white-color: 255, 255, 255;
  --gray-light-color: 169, 169, 169;
  --gray-color: 183, 183, 183;
  --dark-gray-color: 77, 77, 77;
  --gray-medium-color: 130, 130, 130;
  --black-color: 0, 0 ,0;
  --dark-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(123, 123, 123, 0.9) 100%);
  --normal-animation-time: 0.3s;
  --fast-animation-time: 0.15s;
  --background-image-url: url("../src/skyscrapers_back_bad_quality.jpg");
  --archi-menu-size: 80px;
  --menu-top-margin: 100px;
  --standart-gap: 20px;
  --content-size: 1480px;
  --menu-for-eight-size: 250px;
  --content-left-margin-to-border: 100px;
}
@media (max-width: 1919px) and (min-width: 1540px) {
  :root {
    --content-size: 1180px;
    --menu-for-eight-size: 200px;
    --content-left-margin-to-border: 100px;
  }
}
@media (max-width: 1539px) and (min-width: 1240px) {
  :root {
    --content-size: 900px;
    --menu-for-eight-size: 180px;
    --content-left-margin-to-border: 80px;
  }
}
@media (max-width: 1239px) and (min-width: 960px) {
  :root {
    --content-size: 900px;
    --menu-for-eight-size: 210px;
  }
}
@media (max-width: 959px) {
  :root {
    --content-size: 100%;
    --menu-for-eight-size: 210px;
  }
}
@font-face {
  font-family: 'Vida32_probold';
  src: url('../src/Vida/Vida32_probold/Vida32Pro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Vida32_pro';
  src: url('../src/Vida/Vida32_pro/Vida32Pro.woff') format('woff');
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Vida32_probold, Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  position: relative;
  z-index: -100;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6,
html p,
body p,
html b,
body b {
  margin: 0;
  padding: 0;
}
#logo {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--white-color));
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}
@media (max-width: 1239px) {
  #logo {
    width: 120px;
    padding-left: 20px;
    height: 80px;
    top: 0;
    left: 0;
  }
}
