:root{
    // colors have to be in rgb format for rgba() function to work
    // variables should be used with rgb() or other function
    --archiru-blue: 0, 128, 204; // #0080CC
    --white-color: 255, 255, 255; // #FFFFFF
    --gray-color: 183, 183, 183; // #B7B7B7
    --gray-medium-color: 130, 130, 130; // #828282
    --black-color: 0, 0 ,0; // #000000
    --dark-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(123, 123, 123, 0.9) 100%);

    --normal-animation-time: 0.3s;
    --fast-animation-time: 0.15s;

    --background-image-url: url("../src/skyscrapers_back_bad_quality.jpg");

    --archi-menu-size: 80px;
    --menu-top-margin: 100px;


    // sizes, depend on screen width
    --content-size: 1480px;
    --menu-for-eight-size: 280px;
    --content-left-margin-to-border: 100px;
    @media (max-width: 1919px) and (min-width: 1540px){
        --content-size: 1180px;
        --menu-for-eight-size: 210px;
        --content-left-margin-to-border: 100px;
    }
    @media (max-width: 1539px) and (min-width: 1240px){
        --content-size: 900px;
        --menu-for-eight-size: 210px;
        --content-left-margin-to-border: 80px;
    }
    //tablet
    @media (max-width: 1239px) and (min-width: 960px){
        --content-size: 900px;
        --menu-for-eight-size: 210px;
    }
    //mobile
    @media (max-width: 959px){
        --content-size: 100%;
        --menu-for-eight-size: 210px;
    }
}

@font-face {
    font-family: 'Vida32_probold';
    src: url('../src/Vida/Vida32_probold/Vida32Pro-Bold.woff') format('woff'); 
}
@font-face {
    font-family: 'Vida32_pro';
    src: url('../src/Vida/Vida32_pro/Vida32Pro.woff') format('woff'); 
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Vida32_probold, Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    position: relative;
    z-index: -100;
}


#logo{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--white-color));
    margin: 0;

    position: absolute;
    bottom: 0;
    right: 0;

    z-index: 99;

    //mobile
    @media (max-width: 1239px){
        width: 120px;
        padding-left: 20px;
        height: 80px;
        top: 0;
        left: 0;
    }
}