#menu {
  --item-important-size: 40px;
  --item-size: 30px;
  display: flex;
}
@media (max-width: 1919px) and (min-width: 1540px) {
  #menu {
    --item-important-size: 30px;
    --item-size: 25px;
  }
}
@media (max-width: 1539px) and (min-width: 1240px) {
  #menu {
    --item-important-size: 30px;
    --item-size: 25px;
  }
}
@media (max-width: 1239px) and (min-width: 960px) {
  #menu {
    --item-important-size: 30px;
    --item-size: 25px;
  }
}
@media (max-width: 959px) {
  #menu {
    --item-important-size: 30px;
    --item-size: 25px;
  }
}
#menu .menu_item[data-index="1"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="1"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="1"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
#menu .menu_item[data-index="2"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="2"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="2"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
#menu .menu_item[data-index="3"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="3"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="3"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
#menu .menu_item[data-index="4"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="4"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="4"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
@media (max-width: 1239px) {
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
  }
}
#menu .menu_item {
  color: rgba(var(--white-color), 40%);
  font-size: 16px;
  font-family: Vida32_pro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-width: calc(var(--item-size) - 1px);
  width: fit-content;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  cursor: pointer;
  transition: background-color var(--fast-animation-time) ease-in-out, padding-top var(--fast-animation-time) ease-in-out, color var(--normal-animation-time) ease-in-out, border-left var(--normal-animation-time) ease-in-out, margin var(--normal-animation-time) ease-in-out, padding var(--normal-animation-time) ease-in-out, min-width var(--normal-animation-time) ease-in-out, width var(--normal-animation-time) ease-in-out, min-height var(--normal-animation-time) ease-in-out, height var(--normal-animation-time) ease-in-out, opacity var(--fast-animation-time) ease-in-out;
}
#menu .menu_item:hover {
  background-color: rgb(var(--archiru-blue));
  padding-top: 80px;
}
#menu .menu_item b {
  transform: rotate(180deg);
  height: fit-content;
  margin: 0;
}
#menu .menu_item.hidden {
  opacity: 0;
  min-width: 0;
  width: 0;
  margin: 0;
}
@media (max-width: 1239px) {
  #menu .menu_item {
    writing-mode: horizontal-tb;
    justify-content: flex-end;
    min-width: none;
    width: 100%;
    min-height: calc(var(--item-size) - 1px);
    height: fit-content;
    padding-top: 0;
    padding-right: 100px;
  }
  #menu .menu_item b {
    transform: rotate(0deg);
  }
  #menu .menu_item:hover {
    padding-right: 80px;
    padding-top: 0;
  }
  #menu .menu_item.hidden {
    opacity: 0;
    min-width: none;
    width: 100%;
    margin: 0;
    min-height: 0;
    height: 0;
  }
}
#menu .menu_item_border {
  background-color: rgba(var(--white-color), 20%);
  content: "";
  width: 1px;
  height: 100%;
  transition: opacity var(--fast-animation-time) ease-in-out, width var(--fast-animation-time) ease-in-out, height var(--fast-animation-time) ease-in-out, background-color var(--fast-animation-time) ease-in-out;
}
#menu .menu_item_border.hidden {
  opacity: 0;
  width: 0;
}
@media (max-width: 1239px) {
  #menu .menu_item_border {
    width: 100%;
    height: 1px;
  }
  #menu .menu_item_border.hidden {
    width: 100%;
    height: 0;
  }
}
#menu.on_white_background .menu_item[data-index="1"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="1"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item[data-index="2"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="2"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item[data-index="3"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="3"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item[data-index="4"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="4"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item {
  color: rgb(var(--gray-medium-color));
}
#menu.on_white_background .menu_item_border {
  background-color: rgb(var(--gray-color));
}
