#archi_menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--archi-menu-size);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#archi_menu {
  background-color: gray;
  width: 100%;
  max-width: 1242px;
  height: var(--archi-menu-size);
}
#menu {
  --item-important-size: calc(var(--menu-for-eight-size) / 7);
  --item-size: calc(var(--item-important-size) * 0.75);
  width: var(--menu-for-eight-size);
  display: flex;
}
#menu .menu_item[data-index="1"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="1"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="1"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
#menu .menu_item[data-index="2"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="2"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="2"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
#menu .menu_item[data-index="3"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="3"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="3"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
#menu .menu_item[data-index="4"] {
  color: rgb(var(--white-color));
  min-width: calc(var(--item-important-size) - 1px);
}
#menu .menu_item[data-index="4"] + .menu_item_border {
  background-color: rgb(var(--white-color));
}
@media (max-width: 1239px) {
  #menu .menu_item[data-index="4"] {
    min-height: calc(var(--item-important-size) - 1px);
  }
}
@media (max-width: 1239px) {
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
  }
}
#menu .menu_item {
  color: rgba(var(--white-color), 40%);
  font-size: 16px;
  font-family: Vida32_pro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-width: calc(var(--item-size) - 1px);
  width: fit-content;
  height: 100%;
  margin: 0;
  padding-top: var(--menu-top-margin);
  cursor: pointer;
  transition: background-color var(--fast-animation-time) ease-in-out, padding-top var(--fast-animation-time) ease-in-out, color var(--fast-animation-time) ease-in-out, border-left var(--normal-animation-time) ease-in-out, margin var(--normal-animation-time) ease-in-out, padding var(--normal-animation-time) ease-in-out, min-width var(--normal-animation-time) ease-in-out, width var(--normal-animation-time) ease-in-out, min-height var(--normal-animation-time) ease-in-out, height var(--normal-animation-time) ease-in-out, opacity var(--fast-animation-time) ease-in-out;
}
#menu .menu_item:first-child {
  margin-left: auto;
}
#menu .menu_item:hover {
  background-color: rgb(var(--archiru-blue));
  padding-top: calc(var(--menu-top-margin) - 20px);
  color: rgb(var(--white-color));
}
#menu .menu_item b {
  transform: rotate(180deg);
  height: fit-content;
  margin: 0;
}
#menu .menu_item.hidden {
  opacity: 0;
  min-width: 0;
  width: 0;
  margin: 0;
}
@media (max-width: 1239px) {
  #menu .menu_item {
    writing-mode: horizontal-tb;
    justify-content: flex-end;
    min-width: none;
    width: 100%;
    min-height: calc(var(--item-size) - 1px);
    height: fit-content;
    padding-top: 0;
    padding-right: 100px;
  }
  #menu .menu_item b {
    transform: rotate(0deg);
  }
  #menu .menu_item:hover {
    padding-right: 80px;
    padding-top: 0;
  }
  #menu .menu_item.hidden {
    opacity: 0;
    min-width: none;
    width: 100%;
    margin: 0;
    min-height: 0;
    height: 0;
  }
}
#menu .menu_item_border {
  background-color: rgba(var(--white-color), 20%);
  content: "";
  width: 1px;
  height: calc(100% + var(--archi-menu-size));
  position: relative;
  top: calc(-1 * var(--archi-menu-size));
  transition: opacity var(--fast-animation-time) ease-in-out, width var(--fast-animation-time) ease-in-out, height var(--fast-animation-time) ease-in-out, background-color var(--fast-animation-time) ease-in-out;
}
#menu .menu_item_border.hidden {
  opacity: 0;
  width: 0;
}
@media (max-width: 1239px) {
  #menu .menu_item_border {
    width: 100%;
    height: 1px;
  }
  #menu .menu_item_border.hidden {
    width: 100%;
    height: 0;
  }
}
#menu.on_white_background .menu_item[data-index="1"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="1"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item[data-index="2"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="2"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item[data-index="3"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="3"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item[data-index="4"] {
  color: rgb(var(--black-color));
}
#menu.on_white_background .menu_item[data-index="4"] + .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#menu.on_white_background .menu_item {
  color: rgb(var(--gray-medium-color));
}
#menu.on_white_background .menu_item_border {
  background-color: rgb(var(--gray-color));
}
#selected_item_title {
  position: absolute;
  box-sizing: border-box;
  height: 100vh;
  top: 0;
  left: 0;
}
@media (max-width: 1239px) {
  #selected_item_title {
    border: none;
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
  }
}
#selected_item_title .menu_item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(var(--archiru-blue));
  color: rgb(var(--white-color));
  font-size: 16px;
  font-family: Vida32_pro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-width: 45px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding-top: calc(var(--menu-top-margin) + var(--archi-menu-size));
  padding-bottom: 20px;
  transition: border-left var(--normal-animation-time) ease-in-out, min-width var(--normal-animation-time) ease-in-out, width var(--normal-animation-time) ease-in-out, min-height var(--normal-animation-time) ease-in-out, height var(--normal-animation-time) ease-in-out, opacity var(--fast-animation-time) ease-in-out;
}
#selected_item_title .menu_item b {
  transform: rotate(180deg);
  height: fit-content;
  margin: 0;
}
#selected_item_title .menu_item.hidden {
  opacity: 0;
  min-width: 0;
  width: 0;
}
@media (max-width: 1239px) {
  #selected_item_title .menu_item {
    writing-mode: horizontal-tb;
    justify-content: flex-end;
    min-width: none;
    width: 100%;
    min-height: calc(var(--item-important-size) + 5px);
    height: fit-content;
    padding-top: 0;
    padding-right: 100px;
  }
  #selected_item_title .menu_item b {
    transform: rotate(0deg);
  }
  #selected_item_title .menu_item:hover {
    padding-right: 80px;
    padding-top: 0;
  }
  #selected_item_title .menu_item.hidden {
    opacity: 0;
    min-width: none;
    width: 100%;
    margin: 0;
    min-height: 0;
    height: 0;
  }
}
