#menu {
  background-color: #3d3d3d;
  display: flex;
}
#menu .menu_item {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: var(--white-color);
  font-size: 20px;
  display: block;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  width: fit-content;
  border-left: 1px solid var(--white-color);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#menu .menu_item:hover {
  background-color: var(--archiru-blue);
  padding-top: 80px;
}
#menu .menu_item p {
  transform: rotate(180deg);
  height: fit-content;
}
