#menu{
    display: flex;


    @bright_menu_item_style:{
        color: rgb(var(--white-color));
        & + .menu_item_border{
            background-color: rgb(var(--white-color));
        }
    };
    .menu_item[data-index="1"]{
        @bright_menu_item_style();
    }
    .menu_item[data-index="2"]{
        @bright_menu_item_style();
    }
    .menu_item[data-index="3"]{
        @bright_menu_item_style();
    }
    .menu_item[data-index="4"]{
        @bright_menu_item_style();
    }


    .menu_item{
        color: rgba(var(--white-color), 40%);

        box-sizing: border-box;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        font-size: 16px;
        min-width: 39px; // 1px for border, made with ::after
        overflow: hidden;
        display: flex;
        align-items: center;

        height: 100%;
        margin: 0;
        padding-top: 100px;
        width: fit-content;
        cursor: pointer;
        transition: background-color var(--fast-animation-time) ease-in-out, 
                    padding-top var(--fast-animation-time) ease-in-out,
                    color var(--normal-animation-time) ease-in-out,
                    border-left var(--normal-animation-time) ease-in-out, 
                    margin var(--normal-animation-time) ease-in-out,
                    padding var(--normal-animation-time) ease-in-out, 
                    min-width var(--normal-animation-time) ease-in-out, 
                    width var(--normal-animation-time) ease-in-out,
                    opacity var(--fast-animation-time) ease-in-out;
        &:hover{
            background-color: rgb(var(--archiru-blue));
            padding-top: 80px;
        }
        b{
            transform: rotate(180deg);
            height: fit-content;
            margin: 0;
        }

        &.hidden{
            opacity: 0;
            min-width: 0;
            width: 0;
            margin: 0;
        }
    }

    .menu_item_border{
        background-color: rgba(var(--white-color), 20%);

        content: "";
        width: 1px;
        height: 100%;
        transition: opacity var(--fast-animation-time) ease-in-out, 
                    width var(--fast-animation-time) ease-in-out, 
                    background-color var(--fast-animation-time) ease-in-out;

        &.hidden{
            opacity: 0;
            width: 0;
        }
    }


    @bright_menu_item_on_white_background_style:{
        color: rgb(var(--black-color));
        & + .menu_item_border{
            background-color: rgb(var(--gray-color));
        }
    };

    &.on_white_background {
        .menu_item[data-index="1"]{
            @bright_menu_item_on_white_background_style();
        }
        .menu_item[data-index="2"]{
            @bright_menu_item_on_white_background_style();
        }
        .menu_item[data-index="3"]{
            @bright_menu_item_on_white_background_style();
        }
        .menu_item[data-index="4"]{
            @bright_menu_item_on_white_background_style();
        }

        .menu_item{
            color: rgb(var(--gray-medium-color));
        }
        .menu_item_border{
            background-color: rgb(var(--gray-color));
        }
    }
}