<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchiRu</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/menu_style.css">
    <link rel="stylesheet" href="../css/content_style.css">

    <link rel="stylesheet" href="../css/content/activity_style.css">
    <link rel="stylesheet" href="../css/content/events_style.css">
    <link rel="stylesheet" href="../css/content/texts_style.css">
    
</head>
<body>
    <div id="archi_menu_container">
        <header id="archi_menu">

        </header>
    </div>

    <div id="content">
        <div class="background-image"></div>
        <header id="menu">

            <!--Structure is: <li> <span> <li> <span> <li>-->
            <!--Last item does not have border-->
            <!--JS requires that exact order of elements-->

            <!-- data-index should be ordered-->
            <!-- data-index should be equal to the respective content block data-index-->

            <!-- data-background-type отвечает за то какой будет задний фон-->
            <!-- Варианты на момент написания (03.01.24) "dark", "white"-->

            <li id="activity_menu_item" data-index="1" data-background-type="dark" class="menu_item">
                <b>НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="projects_menu_item" data-index="2" data-background-type="white" class="menu_item">
                <b>АРХИТЕКТУРНЫЕ ПРОЕКТЫ</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="texts_menu_item" data-index="3" data-background-type="white" class="menu_item">
                <b>ТЕКСТЫ</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="events_menu_item" data-index="4" data-background-type="white" class="menu_item">
                <b>СОБЫТИЯ</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="videos_menu_item" data-index="5" data-background-type="white" class="menu_item">
                <b>ВИДЕО</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="about_menu_item" data-index="6" data-background-type="dark" class="menu_item">
                <b>О КОМПАНИИ. ПОДРОБНЕЕ</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="contacts_menu_item" data-index="7" data-background-type="white" class="menu_item">
                <b>КОНТАКТЫ. ПОДРОБНЕЕ</b>
            </li>
            <span class="menu_item_border"></span>
            <li id="special_projects_menu_item" data-index="8" data-background-type="white" class="menu_item">
                <b>СПЕЦПРОЕКТЫ</b>
            </li>
        </header>

        <div id="logo">
            <img src="../src/logo.png" alt="logo">
        </div>


        <!--duplicates the menu, initialy all hidden -->
        <div id="selected_item_title">
            <li data-index="1" class="menu_item hidden">
                <b>НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</b>
            </li>
            <li data-index="2" class="menu_item hidden">
                <b>АРХИТЕКТУРНЫЕ ПРОЕКТЫ</b>
            </li>
            <li data-index="3"  class="menu_item hidden">
                <b>ТЕКСТЫ</b>
            </li>
            <li data-index="4"  class="menu_item hidden">
                <b>СОБЫТИЯ</b>
            </li>
            <li data-index="5"  class="menu_item hidden">
                <b>ВИДЕО</b>
            </li>
            <li data-index="6"  class="menu_item hidden">
                <b>О КОМПАНИИ. ПОДРОБНЕЕ</b>
            </li>
            <li data-index="7" class="menu_item hidden">
                <b>КОНТАКТЫ. ПОДРОБНЕЕ</b>
            </li>
            <li data-index="8"  class="menu_item hidden">
                <b>СПЕЦПРОЕКТЫ</b>
            </li>
        </div>

        <!-- data-index has to be equal to the respective menu index-->
        <div class="menu_item_content">
            <section class="hero content_item">
            </section>
    
            <section class="activity content_item hidden" data-index="1">
                <div class="block">
                    <img src="../src//content/activity/lines-pic.png" alt="activity-pic">
                    <h3>Подвесные дизайнерские потолки</h3>
                    <p>
                        Потолочные системы дают шанс создавать 
                        запрашиваемые клиентом проекты интерьера и
                         применять интересные дизайнерские ходы. 
                         При этом можно получить достаточный
                          объем факторов в зависимости от стиля 
                          интерьера, типа освещения, функционального
                           обеспечения. Для осуществления плана важно
                            установить дизайнерские потолки.
                    </p>
                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic2.png" alt="activity-pic">
                    <h3>Подвесные акустические острова</h3>
                    <p>
                        Акустическая подвесная система – 
                        эффективное решение в помещениях, 
                        где нельзя установить традиционный 
                        подвесной потолок по техническим или
                         эстетическим причинам. Панели являются
                          отличным решением для создания акустического
                           комфорта и акцента архитектурной 
                           задумке по оформлению потолка.
                    </p>
                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic3.png" alt="activity-pic">
                    <h3>Подвесные реечные потолки</h3>
                    <p>
                        В многообразии вариантов отделки 
                        потолков свою нишу популярности
                         прочно занял реечный потолок. 
                         Это одна из разновидностей
                          подвесных конструкций, по
                           определенным параметрам 
                           выгодно выделяющаяся в 
                           данной категории.
                    </p>
                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic4.png" alt="activity-pic">
                    <h3>Потолочные системы Т-профиль</h3>
                    <p>
                        К основным достоинствам данной
                         разновидности потолков относятся
                          возможность монтажа на любое
                           основание, легкий доступ к 
                           скрытым коммуникациям, эффективное
                            звукопоглощение, достаточно простой
                             монтаж и современный внешний вид.
                    </p>
                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic5.png" alt="activity-pic">
                    <h3>Подвесные потолки Грильято</h3>
                    <p>
                        Потолочная отделка – 
                        это один из важных процессов
                         при исполнении интерьерного
                          дизайна. Владельцам недвижимости
                           важно, чтобы поверхность была
                            ровной и выигрышно смотрелась. 
                            Основная роль в этом отведена
                             практичности. Кассетный потолок
                              полностью удовлетворяет всем 
                              этим факторам.
                    </p>
                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic6.png" alt="activity-pic">
                    <h3>Подвесные кассетные потолки</h3>
                    <p>
                        Подвесной потолок позволяет
                         избежать хлопотных работ по
                          выравниванию дефектов и 
                          неровностей основы, тк позволяет
                           опустить чистовые панели 
                           на любое расстояние от потолка.
                            Важным преимуществом является
                             возможность скрыть коммуникации
                              и проводку в запотолочное пространство.
                    </p>
                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic7.png" alt="activity-pic">
                    <h3>Профили для листовых материалов</h3>
                    <p>
                        Для создания каркасов для листовых
                         материалов применяется металлический
                          профиль следующих видов: направляющий
                           – основа, крепится по периметру
                            конструкции и стоечный, который 
                            вставляется в направляющие профили, к нему
                             и крепятся ГКЛ или иные панели.
                    </p>

                </div>
                <div class="block">
                    <img src="../src//content/activity/lines-pic8.png" alt="activity-pic">
                    <h3>Подвесные акустические острова</h3>
                    <p>
                        Вентилируемые фасады выполнены 
                        из металлических элементов, 
                        которые установлены на подсистему,
                         закрепленную на поверхности здания.
                          Благодаря циркуляция воздуха,
                           что исключает излишнее скопление
                            конденсата, появление и развитие патогенов.
                    </p>

                </div>
            </section>
    
            <section class="projects content_item hidden" data-index="2">
                
            </section>
    

            <!--block news have different structure-->
            <!--sizes: small - one column (pic 280x280 by default)
                       medium - two columns (pic 580x280 by default)
                       big - two columns two rows (pic 580x580 by default)-->
            <section class="texts content_item hidden" content_item data-index="3">
                <div class="block medium">
                    <img src="../src/content/texts/pic.png" alt="texts-pic">
                    <div class="text_place">
                        <h4>Кирпичный модернизм</h4>
                        <p class="text">Почему практика удешевления фасадного материала в процессе стройки приводит к перерасходу бюджета, какие контраргументы в споре с заказчиком может привести архитектор, и на чем реально можно сэкономить в отношении фасадов, рассказывает исполнительный директор компании «КИРИЛЛ» Дмитрий Самылин.</p>
                        <div class="block_end">
                            <p class="date">01.2023</p>
                            <p class="author">Наталья Коряковская</p>
                        </div>
                    </div>
                </div>
                <div class="block medium">
                    <img src="../src/content/texts/pic2.png" alt="texts-pic">
                    <div class="text_place">
                        <h4>Стоит ли экономить на фасадном материале?</h4>
                        <p class="text">Почему практика удешевления фасадного материала в процессе стройки приводит к перерасходу бюджета, какие контраргументы в споре с заказчиком может привести архитектор, и на чем реально можно сэкономить в отношении фасадов, рассказывает исполнительный директор компании «КИРИЛЛ» Дмитрий Самылин.</p>
                        <div class="block_end">
                            <p class="date">01.2023</p>
                            <p class="author">Наталья Коряковская</p>
                        </div>
                    </div>
                </div>
                <div class="block small">
                    <img src="../src/content/texts/pic3.png" alt="texts-pic">
                    <div class="text_place">
                        <h4>Строительный атом архитектуры</h4>
                        <p class="text">В рамках семинара «Городские кварталы» архитектор Роман Леонидов проследил историю кирпичного строительства от древнего Вавилона до наших дней.</p>
                        <div class="block_end">
                            <p class="date">01.2023</p>
                            <p class="author">Дмитрий Самылин</p>
                        </div>
                    </div>
                </div>
                <div class="block news">
                    <img src="../src/content/texts/pic4.png" alt="texts-pic">
                    <h5>Formica Group совместно с Терезой Сапей разработала интерактивную инсталляцию КОНТУРЫ ВОДЫ</h5>
                    <p class="date">21.09.2023</p>
                </div>
                <div class="block big">
                    <img src="../src/content/texts/pic5.png" alt="texts-pic">
                    <div class="text_place">
                        <h1>Стоит ли экономить на фасадном материале?</h1>
                        <!-- <div class="type">обзор</div>
                        <div class="type_curtain"></div> -->
                        <p class="text">Почему практика удешевления фасадного материала в процессе стройки приводит к перерасходу бюджета, какие контраргументы в споре с заказчиком может привести архитектор, и на чем реально можно сэкономить в отношении фасадов, рассказывает исполнительный директор компании «КИРИЛЛ» Дмитрий Самылин.</p>
                        <div class="block_end">
                            <p class="date">01.2023</p>
                            <p class="author">Дмитрий Самылин</p>
                        </div>
                    </div>
                </div>
                <div class="block news">
                    <img src="../src/content/texts/pic6.png" alt="texts-pic">
                    <h5>Formica Group совместно с Терезой Сапей разработала интерактивную инсталляцию КОНТУРЫ ВОДЫ</h5>
                    <p class="date">21.09.2023</p>
                </div>
                <div class="block news">
                    <img src="../src/content/texts/pic7.png" alt="texts-pic">
                    <h5>Formica Group совместно с Терезой Сапей разработала интерактивную инсталляцию КОНТУРЫ ВОДЫ</h5>
                    <p class="date">21.09.2023</p>
                </div>
                <div class="block news">
                    <img src="../src/content/texts/pic8.png" alt="texts-pic">
                    <h5>Formica Group совместно с Терезой Сапей разработала интерактивную инсталляцию КОНТУРЫ ВОДЫ</h5>
                    <p class="date">21.09.2023</p>
                </div>
                <div class="block small">
                    <img src="../src/content/texts/pic9.png" alt="texts-pic">
                    <div class="text_place">
                        <h4>Строительный атом архитектуры</h4>
                        <p class="text">В рамках семинара «Городские кварталы» архитектор Роман Леонидов проследил историю кирпичного строительства от древнего Вавилона до наших дней.</p>
                        <div class="block_end">
                            <p class="date">01.2023</p>
                            <p class="author">Дмитрий Самылин</p>
                        </div>
                    </div>
                </div>
                <div class="block medium">
                    <img src="../src/content/texts/pic2.png" alt="texts-pic">
                    <div class="text_place">
                        <h4>Стоит ли экономить на фасадном материале?</h4>
                        <p class="text">Почему практика удешевления фасадного материала в процессе стройки приводит к перерасходу бюджета, какие контраргументы в споре с заказчиком может привести архитектор, и на чем реально можно сэкономить в отношении фасадов, рассказывает исполнительный директор компании «КИРИЛЛ» Дмитрий Самылин.</p>
                        <div class="block_end">
                            <p class="date">01.2023</p>
                            <p class="author">Наталья Коряковская</p>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--event image_place block will get a class of position in randomly in js-->
            <!--take notice of the <br> in address-->
            <section class="events content_item hidden" data-index="4">
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle.png" alt="events-pic">
                        <div class="event_type">ПРЕЗЕНТАЦИЯ</div>
                    </div>
                    <h4>Дог-френдли среда: утопия или необходимость</h4>
                    <p class="description">Лекция из цикла «Город на дрожжах»</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 2.png" alt="events-pic">
                        <div class="event_type">КОНФЕРЕНЦИЯ</div>
                    </div>
                    <h4>Девелоперский форум</h4>
                    <p class="description">Ежегодное профессиональное событие</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 3.png" alt="events-pic">
                        <div class="event_type">ПРЕЗЕНТАЦИЯ</div>
                    </div>
                    <h4>Деревянный дом. Осень – 2023</h4>
                    <p class="description">Специализированная выставка.</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 4.png" alt="events-pic">
                        <div class="event_type">ОТРАСЛЕВАЯ ВЫСТАВКА</div>
                    </div>
                    <h4>Красивые дома. Российский архитектурный салон 2023</h4>
                    <p class="description">Специализированная выставка.</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 5.png" alt="events-pic">
                        <div class="event_type">ЛЕКЦИЯ</div>
                    </div>
                    <h4>Цвет года 2024 от Dulux</h4>
                    <p class="description">АРХ-Москва 2022: Компания КИРИЛЛ представляет инсталляцию НЕБО и ЗЕМЛЯ из 20-ти видов российского кирпича ручной работы</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 6.png" alt="events-pic">
                        <div class="event_type">КОНФЕРЕНЦИЯ</div>
                    </div>
                    <h4>Девелоперский форум</h4>
                    <p class="description">Ежегодное профессиональное событие</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 7.png" alt="events-pic">
                        <div class="event_type">ПРЕЗЕНТАЦИЯ</div>
                    </div>
                    <h4>Деревянный дом. Осень – 2023</h4>
                    <p class="description">Специализированная выставка.</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 3.png" alt="events-pic">
                        <div class="event_type">ПРЕЗЕНТАЦИЯ</div>
                    </div>
                    <h4>Деревянный дом. Осень – 2023</h4>
                    <p class="description">Специализированная выставка.</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle 6.png" alt="events-pic">
                        <div class="event_type">КОНФЕРЕНЦИЯ</div>
                    </div>
                    <h4>Девелоперский форум</h4>
                    <p class="description">Ежегодное профессиональное событие</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
                <div class="block">
                    <p class="date">07.07.2023 – 26.11.2023</p>
                    <div class="image_place">
                        <img src="../src/content/events/Rectangle.png" alt="events-pic">
                        <div class="event_type">ПРЕЗЕНТАЦИЯ</div>
                    </div>
                    <h4>Дог-френдли среда: утопия или необходимость</h4>
                    <p class="description">Лекция из цикла «Город на дрожжах»</p>
                    <p class="address">
                        Москва <br>
                        Гостиный Двор. Ул. Ильинка, 4
                    </p>
                </div>
            </section>

            <section class="videos content_item hidden" data-index="5">

            </section>

            <section class="about content_item hidden" data-index="6">

            </section>

            <section class="contacts content_item hidden" data-index="7">

            </section>

            <section class="special_projects content_item hidden" data-index="8">

            </section>
        </div>
    </div>


    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--script-->
    <script src="../js/main.js"></script>
</body>
</html>