<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchiRu</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/menu_style.css">
    <link rel="stylesheet" href="../css/content_style.css">
</head>
<body>
    <div id="content">
        <header id="menu">
            <li id="activity_menu_item" class="menu_item">
                <b>НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</b>
            </li>
            <li id="projects_menu_item" class="menu_item">
                <b>АРХИТЕКТУРНЫЕ ПРОЕКТЫ</b>
            </li>
            <li id="texts_menu_item" class="menu_item">
                <b>ТЕКСТЫ</b>
            </li>
            <li id="events_menu_item" class="menu_item">
                <b>СОБЫТИЯ</b>
            </li>
        </header>

        <div id="logo">
            <img src="../src/logo.png" alt="logo">
        </div>

        <div class="menu_item_content">
            <section class="hero">

            </section>
    
            <section class="activity_info">
    
            </section>
    
            <section class="projects">
    
            </section>
    
            <section class="texts">
    
            </section>
    
            <section class="events">
    
            </section>
        </div>
    </div>


    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--script-->
    <script src="../js/main.js"></script>
</body>
</html>